<div class="container">
  <div class="row">
    <div class="col-5 px-5 px-sm-0 mx-auto">
      <h2 class="mb-4">送信が完了しました</h2>
      <p class="mb-2">内容は以下の通りです。</p>
      <p>
        [タイトル]<br/>
        <strong><%= @group_message.mail_title %></strong>
      </p>
      <p>
        [本文]<br/>
        <strong><%= @group_message.mail_body %></strong>
      </p>
    </div>
  </div>
</div>