<% if @table == "user_table" %>
  <h2>Users search for "<%= @keyword %>"</h2>
  <%= render "users/user_list", users: @users %>
<% elsif @table = "book_table" %>
  <h2>Books search for "<%= @keyword %>"</h2>
  <%= render "books/book_list", books: @books %>
<% end %>